.image {
  background-size: auto 100%;
}

@media (min-width: 701px) {
  .grazia {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180115_wwlp_grazia_banner_DNT?$desktop-sm$");
    height: 7.175vw;
    max-height: 143.5px;
  }

  .promo1 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_DNT?$desktop-sm$");
    height: 50vw;
    max-height: 1000px;
  }

  .promo2 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_kids_DNT?$desktop-sm$");
    height: 50vw;
    max-height: 1000px;
  }

  .imwearingri {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_imwearingri_DNT?$desktop-sm$");
    height: 23.65vw;
    max-height: 473px;
  }
}

@media (min-width: 701px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 701px) and (min-resolution: 192dpi) {
  .grazia {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180115_wwlp_grazia_banner_DNT?$retina-sm$");
  }

  .promo1 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_DNT?$retina-sm$");
  }

  .promo2 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_kids_DNT?$retina-sm$");
  }

  .imwearingri {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_imwearingri_DNT?$retina-sm$");
  }
}

@media (min-width: 1281px) {
  .grazia {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180115_wwlp_grazia_banner_DNT?$desktop-md$");
  }

  .promo1 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_DNT?$desktop-md$");
  }

  .promo2 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_kids_DNT?$desktop-md$");
  }

  .imwearingri {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_imwearingri_DNT?$desktop-md$");
  }
}

@media (min-width: 1281px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1281px) and (min-resolution: 192dpi) {
  .grazia {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180115_wwlp_grazia_banner_DNT?$retina-md$");
  }

  .promo1 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_DNT?$retina-md$");
  }

  .promo2 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_kids_DNT?$retina-md$");
  }

  .imwearingri {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_imwearingri_DNT?$retina-md$");
  }
}

@media (min-width: 1441px) {
  .grazia {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180115_wwlp_grazia_banner_DNT?$desktop$");
  }

  .promo1 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_DNT?$desktop$");
  }

  .promo2 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_kids_DNT?$desktop$");
  }

  .imwearingri {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_imwearingri_DNT?$desktop$");
  }
}

@media (min-width: 1441px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1441px) and (min-resolution: 192dpi) {
  .grazia {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180115_wwlp_grazia_banner_DNT?$retina$");
  }

  .promo1 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_DNT?$retina$");
  }

  .promo2 {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_HERO_kids_DNT?$retina$");
  }

  .imwearingri {
    background-image: url("https://riverisland.scene7.com/is/image/RiverIsland/c20180109_HP_DENIM_imwearingri_DNT?$retina$");
  }
}
