//	IMAGE PRESETS 
//
//		- $mobile$ - scl=1
//		
//		- $desktop$ - scl=2
//		- $retina$ - scl=1
//
//		TO DO
//
//		- $tablet-tfw$ - turns true-fw to width 1536px - scl=2.60416666666667
//		- $tablet-efw$ - turns extend-fw to width 1536px - scl=1.667&cropN=0.18,0,0.64,1
//		- $tablet-img$ - turns standard image to width 1536px - scl=1.5625 // *same as below so will use that image preset*
//
//		- $desktop-sm$ - turns true-fw to width 1280px - scl=3.125
//		- $retina-sm$ - turns true-fw to width 2560px - scl=1.5625
//
//		- $desktop-sm_crop$ - turns extend-fw to width 1280px - scl=2&cropN=0.18,0,0.64,1
//		- $retina-sm_crop$ - turns extend-fw to width 2560px - scl=1&cropN=0.18,0,0.64,1
//
//		- $desktop-md$ - turns true-fw to width 1440px - scl=2.77777777777778
//		- $retina-md$ - turns true-fw to width 2880px - scl=1.38888888888889
//
//		- $desktop-md_crop$ - turns extend-fw to width 1440px - scl=2&cropN=0.14,0,0.72,1
//		- $retina-md_crop$ - turns extend-fw to width 2880px - scl=1&cropN=0.14,0,0.72,1

//	MEDIA QUERIES

$mobile : "(max-width: 700px)";

$desktop-small : "(min-width: 701px)";
$tablet : "(min-width: 701px) and (max-width: 768px) and (min-resolution: 192dpi) ";
$retina-small : "(min-width: 769px) and (min-resolution: 192dpi)";

$desktop-medium : "(min-width: 1281px)";
$retina-medium : "(min-width: 1281px) and (min-resolution: 192dpi)";

$desktop-large : "(min-width: 1441px)";
$retina-large : "(min-width: 1441px) and (min-resolution: 192dpi)";

@mixin mobile( $name: 'promo',
              $url: '',
              $urlUK : '',
              $urlUS : '',
              $urlAU : '',
              $urlEU : '',
              $urlSE : '',
              $urlIE : '',
              $urlFR : '',
              $urlDE : '',
              $urlNL : '',
              $marginTop : '',
              $marginBottom : '',
              $paddingBottom : '',
              $flush: ''  ) {

  .#{$name} {

    padding-bottom: $paddingBottom;

    @if $marginTop != '' {
      margin-top: $marginTop;
    }

    @if $marginBottom != '' {
      margin-bottom: $marginBottom;
    }

    @if $url != '' {
      background-image: url('#{$url}?#{$flush}&$mobile$');
    } @else {
      display: none;
    }

    @media #{$desktop-small} {
      display: none;
    }

  }

  @if $urlUK != '' {

    .region-UK .#{$name} {
      
      background-image: url('#{$urlUK}?#{$flush}&$mobile$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }

    }

  }

  @if $urlUS != '' {

    .region-US .#{$name} {
        
      background-image: url('#{$urlUS}?#{$flush}&$mobile$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }
      
    }
  }

  @if $urlAU != '' {

    .region-AU .#{$name} {

      background-image: url('#{$urlAU}?#{$flush}&$mobile$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }
      
    }
  }

  @if $urlEU != '' {

    .region-EU .#{$name} {

      background-image: url('#{$urlEU}?#{$flush}&$mobile$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }
      
    }
  }

  @if $urlSE != '' {

    .region-SE .#{$name} {
        
      background-image: url('#{$urlSE}?#{$flush}&$mobile$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }

    } 
  }

  @if $urlIE != '' {

    .region-IE .#{$name} {

      background-image: url('#{$urlIE}?#{$flush}&$mobile$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }
      
    }
  }

  @if $urlFR != '' {

    .region-FR .#{$name} {

      background-image: url('#{$urlFR}?#{$flush}&$mobile$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }

    }
  }

  @if $urlDE != '' {

    .region-DE .#{$name} {

      background-image: url('#{$urlDE}?#{$flush}&$desktop$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }

    }
  }

  @if $urlNL != '' {

    .region-NL .#{$name} {

      background-image: url('#{$urlNL}?#{$flush}&$desktop$');

      @if $url == '' {
        @media #{$mobile} {
          display: block;
        }
      }
   
    }
  }

}

@mixin image( $name: 'promo',
              $url: '',
              $urlUK : '',
              $urlUS : '',
              $urlAU : '',
              $urlEU : '',
              $urlSE : '',
              $urlIE : '',
              $urlFR : '',
              $urlDE : '',
              $urlNL : '',
              $marginTop : '',
              $marginBottom : '',
              $paddingBottom : '',
              $flush: ''  ) {

  
  .#{$name} {

    @media #{$desktop-small} {

      padding-bottom: $paddingBottom;

      @if $marginTop != '' {
        margin-top: $marginTop;
      }

      @if $marginBottom != '' {
        margin-bottom: $marginBottom;
      }

      @if $url != '' {
        background-image: url('#{$url}?#{$flush}&$desktop$');
      } @else {
        display: none;
      }
      
    }

    @if $url != '' {
      @media #{$retina-small} {
        background-image: url('#{$url}?#{$flush}&$retina$');
      }    
      @media #{$tablet} {
        background-image: url('#{$url}?#{$flush}&$retina-sm$');
      }
    }

  }

  @if $urlUK != '' {

    .region-UK .#{$name} {
      @media #{$desktop-small} {

        background-image: url('#{$urlUK}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlUK}?#{$flush}&$retina$');
      }
      @media #{$tablet} {
        background-image: url('#{$urlUK}?#{$flush}&$retina-sm$');
      }
    }

  }

  @if $urlUS != '' {

    .region-US .#{$name} {
      @media #{$desktop-small} {
        
        background-image: url('#{$urlUS}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlUS}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlUS}?#{$flush}&$retina-sm$');
      }
    }
  }

  @if $urlAU != '' {

    .region-AU .#{$name} {
      @media #{$desktop-small} {

        background-image: url('#{$urlAU}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlAU}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlAU}?#{$flush}&$retina-sm$');
      }
    }
  }

  @if $urlEU != '' {

    .region-EU .#{$name} {
      @media #{$desktop-small} {

        background-image: url('#{$urlEU}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlEU}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlEU}?#{$flush}&$retina-sm$');
      }
    }
  }

  @if $urlSE != '' {

    .region-SE .#{$name} {
      @media #{$desktop-small} {
        
        background-image: url('#{$urlSE}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlSE}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlSE}?#{$flush}&$retina-sm$');
      }
    }
  }

  @if $urlIE != '' {

    .region-IE .#{$name} {
      @media #{$desktop-small} {

        background-image: url('#{$urlIE}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlIE}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlIE}?#{$flush}&$retina-sm$');
      }
    }
  }

  @if $urlFR != '' {

    .region-FR .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlFR}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlFR}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlFR}?#{$flush}&$retina-sm$');
      }
    }
  }

  @if $urlDE != '' {

    .region-DE .#{$name} {
      @media #{$desktop-small} {

        background-image: url('#{$urlDE}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlDE}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlDE}?#{$flush}&$retina-sm$');
      }
    }
  }

  @if $urlNL != '' {

    .region-NL .#{$name} {
      @media #{$desktop-small} {

        background-image: url('#{$urlNL}?#{$flush}&$desktop$');

        @if $url == '' {
          display: block;
        }

      }
      @media #{$retina-small} {
        background-image: url('#{$urlNL}?#{$flush}&$retina$');
      }
    
      @media #{$tablet} {
        background-image: url('#{$urlNL}?#{$flush}&$retina-sm$');
      }
    }
  }

}

@mixin true-fw( $name: 'promo',
              $url: '',
              $urlUK : '',
              $urlUS : '',
              $urlAU : '',
              $urlEU : '',
              $urlSE : '',
              $urlIE : '',
              $urlFR : '',
              $urlDE : '',
              $urlNL : '',
              $marginTop : '',
              $marginBottom : '',
              $vwHeight : '',
              $pxHeight : '',
              $flush: ''  ) {

  .#{$name} {

    @media #{$desktop-small} {

      height: $vwHeight;
      max-height: $pxHeight;
      
      @if $marginTop != '' {
        margin-top: $marginTop;
      }

      @if $marginBottom != '' {
        margin-bottom: $marginBottom;
      }

      @if $url != '' {
        background-image: url('#{$url}?#{$flush}&$desktop-sm$');
      } @else {
        display: none;
      }
      
    }


    @if $url != '' {
      @media #{$retina-small} {
        background-image: url('#{$url}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$url}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$url}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$url}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$url}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$url}?#{$flush}&$tablet-tfw$');
      }
    }

  }

  @if $urlUK != '' {

    .region-UK .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlUK}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlUK}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlUK}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlUK}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlUK}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlUK}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlUK}?#{$flush}&$tablet-tfw$');
      }
    }

  }

  @if $urlUS != '' {

    .region-US .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlUS}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlUS}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlUS}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlUS}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlUS}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlUS}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlUS}?#{$flush}&$tablet-tfw$');
      }
    }

  }

  @if $urlAU != '' {

    .region-AU .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlAU}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlAU}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlAU}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlAU}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlAU}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlAU}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlAU}?#{$flush}&$tablet-tfw$');
      }
    }
  }

  @if $urlEU != '' {

    .region-EU .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlEU}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlEU}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlEU}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlEU}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlEU}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlEU}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlEU}?#{$flush}&$tablet-tfw$');
      }
    }
  }

  @if $urlSE != '' {

    .region-SE .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlSE}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlSE}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlSE}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlSE}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlSE}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlSE}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlSE}?#{$flush}&$tablet-tfw$');
      }
    }
  }

  @if $urlIE != '' {

    .region-IE .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlIE}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlIE}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlIE}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlIE}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlIE}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlIE}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlIE}?#{$flush}&$tablet-tfw$');
      }
    }
  }

  @if $urlFR != '' {

    .region-FR .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlFR}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlFR}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlFR}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlFR}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlFR}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlFR}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlFR}?#{$flush}&$tablet-tfw$');
      }
    }

  }

  @if $urlDE != '' {

    .region-DE .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlDE}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlDE}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlDE}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlDE}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlDE}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlDE}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlDE}?#{$flush}&$tablet-tfw$');
      }
    }
    
  }

  @if $urlNL != '' {

    .region-NL .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlNL}?#{$flush}&$desktop-sm$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlNL}?#{$flush}&$retina-sm$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlNL}?#{$flush}&$desktop-md$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlNL}?#{$flush}&$retina-md$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlNL}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlNL}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlNL}?#{$flush}&$tablet-tfw$');
      }
    }

  }

}

@mixin extend-fw( $name: 'promo',
                  $url: '',
                  $urlUK : '',
                  $urlUS : '',
                  $urlAU : '',
                  $urlEU : '',
                  $urlSE : '',
                  $urlIE : '',
                  $urlFR : '',
                  $urlDE : '',
                  $urlNL : '',
                  $marginTop : '',
                  $marginBottom : '',
                  $paddingBottom : '',
                  $flush: ''  ) {

  .#{$name} {

    @media #{$desktop-small} {

      padding-bottom: $paddingBottom;
      
      @if $marginTop != '' {
        margin-top: $marginTop;
      }

      @if $marginBottom != '' {
        margin-bottom: $marginBottom;
      }
		
      @if $url != '' {
        background-image: url('#{$url}?r&$desktop-sm_crop$');
      } @else {
        display: none;
      }
      
    }


    @if $url != '' {
      @media #{$retina-small} {
        background-image: url('#{$url}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$url}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$url}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$url}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$url}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$url}?#{$flush}&$tablet-efw$');
      }
    }

  }

  @if $urlUK != '' {

    .region-UK .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlUK}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlUK}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlUK}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlUK}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlUK}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlUK}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlUK}?#{$flush}&$tablet-efw$');
      }
    }

  }

  @if $urlUS != '' {

    .region-US .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlUS}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlUS}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlUS}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlUS}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlUS}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlUS}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlUS}?#{$flush}&$tablet-efw$');
      }
    }

  }

  @if $urlAU != '' {

    .region-AU .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlAU}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlAU}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlAU}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlAU}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlAU}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlAU}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlAU}?#{$flush}&$tablet-efw$');
      }
    }
  }

  @if $urlEU != '' {

    .region-EU .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlEU}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlEU}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlEU}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlEU}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlEU}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlEU}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlEU}?#{$flush}&$tablet-efw$');
      }
    }
  }

  @if $urlSE != '' {

    .region-SE .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlSE}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlSE}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlSE}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlSE}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlSE}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlSE}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlSE}?#{$flush}&$tablet-efw$');
      }
    }
  }

  @if $urlIE != '' {

    .region-IE .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlIE}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlIE}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlIE}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlIE}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlIE}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlIE}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlIE}?#{$flush}&$tablet-efw$');
      }
    }
  }

  @if $urlFR != '' {

    .region-FR .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlFR}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlFR}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlFR}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlFR}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlFR}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlFR}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlFR}?#{$flush}&$tablet-efw$');
      }
    }

  }

  @if $urlDE != '' {

    .region-DE .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlDE}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlDE}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlDE}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlDE}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlDE}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlDE}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlDE}?#{$flush}&$tablet-efw$');
      }
    }
    
  }

  @if $urlNL != '' {

    .region-NL .#{$name} {

      @media #{$desktop-small} {

        background-image: url('#{$urlNL}?#{$flush}&$desktop-sm_crop$');

        @if $url == '' {
          display: block;
        }

      }

      @media #{$retina-small} {
        background-image: url('#{$urlNL}?#{$flush}&$retina-sm_crop$');
      }
      
      @media #{$desktop-medium}{
        background-image: url('#{$urlNL}?#{$flush}&$desktop-md_crop$');
      }
      @media #{$retina-medium}{
        background-image: url('#{$urlNL}?#{$flush}&$retina-md_crop$');
      }

      @media #{$desktop-large}{
        background-image: url('#{$urlNL}?#{$flush}&$desktop$');
      }
      @media #{$retina-large}{
        background-image: url('#{$urlNL}?#{$flush}&$retina$');
      }

      @media #{$tablet} {
        background-image: url('#{$urlNL}?#{$flush}&$tablet-efw$');
      }
    }

  }

}

.image {
	background-size: auto 100%;
}