@import 'config';

@include mobile(
  $name: 'hero',
  $flush: 'r',
  $marginBottom: 40px,
  $url: 'https://riverisland.scene7.com/is/image/RiverIsland/c20180208_wwlp_hero_DNT'
, $paddingBottom: 194.355% );