//	IMAGE PRESETS 
//		
//		- $desktop$ - scl=2
//		- $retina$ - scl=1
//
//		- $tablet$ - turns image to retina 768px
//		- $tablet-tfw$ - turns true-fw to retina 768px
//		- $tablet-efw$ - turns true-fw to retina 768px with crop
//
//		- $desktop-sm$ - turns true-fw to width 1200px - scl=3.333334
//		- $retina-sm$ - turns true-fw to width 2400px - scl=1.66666666666667
//
//		- $desktop-sm_crop$ - turns extend-fw to width 1280px - cropN=
//		- $retina-sm_crop$ - turns extend-fw to width 2560px -cropN=
//
//		- $desktop-md$ - turns true-fw to width 1440px - scl=2.77777777777778
//		- $retina-md$ - turns true-fw to width 2880px - scl=1.38888888888889
//
//		- $desktop-md_crop$ - turns extend-fw to width 1440px - cropN=
//		- $retina-md_crop$ - turns extend-fw to width 2880px - cropN=

$desktop : "(min-width: 701px)";
$retina : "(min-width: 701px) and (min-resolution: 192dpi)";

$desktop-medium : "(min-width: 1201px)";
$retina-medium : "(min-width: 1201px) and (min-resolution: 192dpi)";

$desktop-large : "(min-width: 1441px)";
$retina-large : "(min-width: 1441px) and (min-resolution: 192dpi)";

@mixin mobile($url, $padding-bottom) {
	
	background-image: url('#{$url}?$mobile$');
	padding-bottom: $padding-bottom;

	@media #{$desktop} {
		display: none;
	}

}

@mixin image ($url, $padding-bottom) {

	@media #{$desktop} {
		background-image: url('#{$url}?$desktop$');
		padding-bottom: $padding-bottom;
	}
	@media #{$retina} {
		background-image: url('#{$url}?$retina$');
	}

}

@mixin true-fw($url, $vw-height, $max-height) {

	@media #{$desktop} {
		background-image: url('#{$url}?$desktop-sm$');
		height: $vw-height;
		max-height: $max-height;
	}
	@media #{$retina} {
		background-image: url('#{$url}?$retina-sm$');
	}
	
	@media #{$desktop-medium}{
		background-image: url('#{$url}?$desktop-md$');
	}
	@media #{$retina-medium}{
		background-image: url('#{$url}?$retina-md$');
	}

	@media #{$desktop-large}{
		background-image: url('#{$url}?$desktop$');
	}
	@media #{$retina-large}{
		background-image: url('#{$url}?$retina$');
	}

}

@mixin extend-fw($url, $padding-bottom) {

	@media #{$desktop} {
		background-image: url('#{$url}?$desktop-sm_crop$');
		padding-bottom: $padding-bottom;
	}
	@media #{$retina} {
		background-image: url('#{$url}?$retina-sm_crop$')
	}

	@media #{$desktop-medium} {
		background-image: url('#{$url}?$retina-md_crop$');
	}
	@media #{$retina-medium} {
		background-image: url('#{$url}?$retina-md_crop$');
	}

	@media #{$desktop-large} {
		background-image: url('#{$url}?$desktop$');
	}
	@media #{$retina-large} {
		background-image: url('#{$url}?$retina$');
	}
}


