@import 'config';

//images

.mob-test {
	@include mobile('http://riverisland.scene7.com/is/content/RiverIsland/c20180110_HP_FLASH_SALE_BANNER_DNT', 62.419% );
}

.image-test {
	@include image('http://riverisland.scene7.com/is/content/RiverIsland/c20180110_HP_FLASH_SALE_BANNER_DNT', 9.675% );
}

.true-fw-test {
	@include true-fw('http://riverisland.scene7.com/is/content/RiverIsland/c20180110_HP_FLASH_SALE_BANNER_DNT', 9.675%, 193.5px );
}

.extend-fw-test {
	@include extend-fw('http://riverisland.scene7.com/is/content/RiverIsland/c20180110_HP_FLASH_SALE_BANNER_DNT_de', 19.325% );
}

//mobile

//tablet and desktop

@media (min-width: 701px) {
	.animation {
		animation: KEYNAME 1s;
	}
}





@keyframes KEYNAME {
  0%   { opacity: 0; transform: rotate(90deg) }
  100% { opacity: 1; transform: rotate(0deg) }
}